body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F8F7FF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.linksContainer {
  display: flex;
  margin-left: 10px;
  margin-bottom: 5px;
  box-shadow:0px 2px rgb(154, 152, 152);
}

.navbarTitle{
  color: black;
  float: left;
}

.homeContainer {
  height: auto;
  display: flex;
}

.playersContainer {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.playerCardContainer {
  width: 250px;
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 1px 2px 3px 2px rgb(154, 152, 152);
  background-color: slategray;
}

.playerID {
  border-radius: 50%;
  border: 1px solid black;
  width: 20px;
  margin: auto;
  padding: 10px;
}

.btnDelete {
  background-color: rgb(166, 53, 5);
  color: white;
  font-weight: 600;
  border-radius: 5px;
  padding: 2px 10px;
  cursor: pointer;
  border: 1px solid black;
}

.playerFormContainer {
  flex-direction: column;
  width: 300px;
  height: 320px;
  display: flex;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 1px 2px 3px 2px rgb(154, 152, 152);
  background-color: antiquewhite;
  margin: 5px;
}

.playerForm {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 10px;
}

label {
  font-weight: 600;
}

input {
  width: 220px;
  border-radius: 5px;
  border: 0.5px solid slategray;
  margin-bottom: 5px;
}

.buttonBar {
  display: flex;
  margin: auto;
  margin-top: 5px;
}

.btnAdd {
  margin-right: 4px;
  padding: 5px 15px;
  background-color: rgb(102, 166, 5);
  color: white;
  font-weight: 600;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 1px 2px 3px 2px rgb(154, 152, 152);
  cursor: pointer;
}

.btnReset {
  padding: 5px 15px;
  background-color: rgb(166, 53, 5);
  color: white;
  font-weight: 600;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 1px 2px 3px 2px rgb(154, 152, 152);
  cursor: pointer;
}

.errorDiv {
  margin: 15px;
  border: 1.5px dotted red;
  background-color: rgb(240, 171, 171);
  padding: 5px;
  border-radius: 5px;
  box-shadow: 1px 2px 3px 2px rgb(154, 152, 152);
}

.errMsgDiv {
  margin: 15px;
  border: 1.5px dotted red;
  background-color: rgb(240, 171, 171);
  padding: 5px;
  border-radius: 5px;
  box-shadow: 1px 2px 3px 2px rgb(154, 152, 152);
  height: 20px;
}

.delErrMsgDiv{
  margin-top: -150px;
  border: 1.5px dotted red;
  background-color: rgb(240, 171, 171);
  border-radius: 5px;
  height: 35px;
  width: 250px;
  position: absolute;
  cursor: pointer;
}
